/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */
@import '~@angular/material/prebuilt-themes/purple-green.css';

body {
    margin: 0px;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}