<mat-card *ngIf="mode == 'view'" class="reg-card">
  <mat-card-header>
    <mat-card-title>{{item.title}}</mat-card-title>
    <mat-card-subtitle>{{item.url}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img *ngIf="item.urlPreview" class="item-url-preview" mat-card-image [src]="item.urlPreview">
    <mat-form-field class="full-width">
      <mat-label>Textarea</mat-label>
      <textarea matInput class="item-description-text" disabled>{{item.description}}</textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <div class="actions-left">
      <button mat-button (click)="_rs.goToItem(index)">Go To</button>
    </div>
    <div class="actions-right">
      <button mat-button (click)="toggleEdit()">Edit</button>
      <button mat-button (click)="_rs.deleteItem(index, mode, newItem)">Delete</button>
    </div>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="mode == 'edit'" class="reg-card">
  <form class="new-item-form" [formGroup]="itemFormGroup">
    <mat-card-content>
      <mat-form-field class="half-width">
        <input formControlName="title" matInput type="text" placeholder="Title">
      </mat-form-field>
      <mat-form-field class="half-width">
        <input formControlName="url" matInput type="text" placeholder="URL" (change)="_rs.getNewItemPreview(index, item)">
      </mat-form-field>
      <img *ngIf="item.urlPreview" class="item-url-preview" mat-card-image [src]="item.urlPreview">
      <mat-form-field class="full-width item-description-text">
        <textarea formControlName="description" matInput type="text" placeholder="Description"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <div class="actions-left">
            <button mat-button (click)="toggleEdit()">Cancel</button>
          </div>
      <div class="actions-right">
        <button mat-button (click)="_rs.saveItem(index, newItem, itemFormGroup)">Save</button>
        <button mat-button (click)="_rs.deleteItem(index, mode, newItem)">Delete</button>
      </div>
    </mat-card-actions>
  </form>
</mat-card>