.reg-card {
    min-height: 175px;
}

.item-url-preview {
    width: 100px;
    float: right;
    margin: 0px 10px 0px 0;
}

.actions-left {
    float: left
}

.actions-right {
    float: right;
}

mat-card-content {
    margin: 10px 0px 10px 16px;
}