<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button *ngIf="_sm.get('currentUser') != null" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Life Registry</span>
    <span class="toolbar-spacer"></span>
    <button *ngIf="_sm.get('currentUser') != null" mat-mini-fab color="accent" (click)="_rs.addNewItem()">
      <mat-icon>add_circle</mat-icon>
    </button>
    <form [formGroup]="fileForm" class="items-scanned">
      <input #files type="file" id="cameraInput" accept="image/*" capture="camera" (change)="scanCode($event)" />
    </form>
    <button *ngIf="_sm.get('currentUser') != null" mat-mini-fab color="accent" id="camera-button" (click)="openCamera()">
      <mat-icon>photo_camera</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<auth *ngIf="_sm.get('currentUser') == null"></auth>

<mat-sidenav-container id="list-sidebar">
  <mat-sidenav #sidenav mode="side">
    <sidebar [registries]="registries" (registryChange)="registryChange($event)"></sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-list id="item-list">
      <mat-list-item *ngFor="let newItem of _rs.newItems; let i = index">
        <item [item]="newItem" mode="edit" [index]="i"></item>
      </mat-list-item>
      <mat-list-item *ngFor="let registryItem of _rs.registryItems; let i = index">
        <item [item]="registryItem" mode="view" [index]="i"></item>
      </mat-list-item>
    </mat-list>
  </mat-sidenav-content>
</mat-sidenav-container>