.toolbar-spacer {
    flex: 1 1 auto;
}

item { 
    width: 100%;
}

mat-sidenav {
    width: 20%;
}

#cameraInput {
    display: none;
}

.mat-list {
    display: block;
    height: 100vh;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    height: 250px;
}

#camera-button {
    margin: 0px 0px 0px 20px;
}