<mat-tab-group id="auth-tabs">
    <mat-tab label="Login">
        <form class="login-form" [formGroup]="loginForm">
            <mat-form-field>
                <input formControlName="email" matInput type="email" placeholder="Email">
            </mat-form-field>

            <mat-form-field>
                <input formControlName="password" matInput type="password" placeholder="Password">
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="verifyLogin()">Login</button>
        </form>
    </mat-tab>
    <mat-tab label="Register">
        <form class="register-form" [formGroup]="registerForm">
            <mat-form-field>
                <input formControlName="email" matInput type="email" placeholder="Email">
            </mat-form-field>

            <mat-form-field>
                <input formControlName="password" matInput type="password" placeholder="Password">
            </mat-form-field>

            <mat-form-field>
                <input formControlName="passwordConfirm" matInput type="password" placeholder="Confirm Password">
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="registerUser()">Register</button>
        </form>
    </mat-tab>
</mat-tab-group>