<mat-list>
    <h3 mat-subheader>Registries</h3>
    <mat-list-item *ngFor="let registry of _rs.registries" class="reg-list" (click)="changeRegistry(registry)">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line>{{registry}}</h4>
    </mat-list-item>
</mat-list>